* {
    box-sizing: border-box;
}
body {
    background: url(background.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
} 
.diary-cnt {
    max-width:65rem;
    margin:0 auto;
}
.diary-title{
   font-family: 'Marck Script', cursive;
   text-align: center;
   font-size: 4.0rem;
   color: #000099;
}
.diary-form {
    font-family:sans-serif;
    box-shadow: 0 10px 100px rgba(0,0,0,0.5);
    padding:1rem;
    background: white;
    margin-bottom: 3.0rem;
}
.diary-form-row {
    overflow:hidden;
}
.diary-form-label {
    display: block;
    font-size:1.8rem;
    margin-bottom:0.2rem;
    font-family: 'Caveat', cursive;
}
.diary-form-message {  
    padding:1rem;
    height:10rem;
    width:100%;
    border:2px solid #ddd;
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
    resize: vertical;
    font-family:sans-serif;
    margin-bottom: 0.8rem;
}
.diary-form-button {
    padding:0.8rem 1.6rem;
    background: #F15C5C;
    color:#fff;
    border:0;
    border-radius: 0.5rem;
    transition:0.4s all;
    cursor: pointer;
    float: right;
}
.diary-form-button:hover {
    background: #ED2D2D;
}
.diary-element {
    border-top:1px solid #F15C5C;
    margin-top:1.0rem;
    padding-top:2rem;
    padding-bottom: 2rem;
}
.diary-element-bar {
    overflow:hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:0.5rem;
}
.diary-element-date {
    margin:0;
    font-size:2.0rem;
    font-weight: normal;
    font-family: 'Caveat', cursive;
    color: #F15C5C;
}
.diary-element-delete {
    color:#F15C5C;
    border:0;
    font-size:2rem;
    background: none;
    cursor: pointer;
    padding:0; 
}
.diary-element-delete svg {
    pointer-events: none; /* nie chcemy obsługi kliknięć na elementy svg - bo takie dodaje użyty fontAwesome */
}
    .diary-element-delete:hover {
    color: #ED2D2D;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;

}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.diary-element-text {  
    color:#000099;
    font-size: 2.0rem;
     font-family: 'Caveat', cursive;
}


.diary-list-cnt{
    background: url(kratka.jpg)
}
.diary-note{
    overflow:auto;
    font-family:sans-serif;
    border:1px solid #ddd;
    padding:1rem 2rem;
    margin-bottom: 0.0rem;
    display: block;
}
